

ul{
    list-style-type: none;
    padding: 0;
}
.droppable-area {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    background-color: #e1e4db;
    margin: 120px 10px 50px 10px;
    border-radius: 10px;
    padding: 40px;
    border: 1px solid #b4b9a9;
}

.droppable-area.drag-over {
    background-color: #cbe0f3;
}

.drag-drop-text {
    color: #0c2135;
    font-size: 20px;
}

.file-btn {
    opacity: 0.01;
    padding: 90px 0 0 0;
    width: 135px;
    cursor: pointer;
}

.add-folder-area {
    width: 140px;
    border-radius: 15px;
    border: 3px dashed #0c2135;
    background-color: #b4b9a9;
    margin: 0 auto;
    margin: 10px auto;
    background-image: url('./images/icon-plus-round.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.add-folder-area:hover {
    border: 3px dashed #000;
    background-color: #7e866d;
    
}

.movie-not-found-container {
    border: 2px solid #ff3f19;
    border-radius: 8px;
    padding: 5px 18px;
    margin-top: 14px;
    float: left;
    width: 100%;
}

.invalid-title {
    font-weight: bold;
    padding-left: 10px;
}

.warning-icon {
    width: 24px;
    margin-right: 10px;
    margin-bottom: 4px;
}

.pull-right{
    float: right;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.margin-top{
    margin-top: 3px;
}
.app-wrapper{
    width: 70%;
    margin: 0 auto;
}
.header{
    font-family: 'Dosis', sans-serif;
    font-size: large;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #000;
    border-radius: 0;

}

.header .navbar-right a{
    padding-top: 20px;
}

.header-logo {
    margin: 8px 0px 10px 10%;
    height: 64px;
}



.header > a{
    padding: 15px 35px;
    display: inline-block;
    float: right;
    color: #b4b9a9;
}

.header > a:hover{
    color: #fff;
}

.header .navbar-nav>li>.selected-page {
    color: #fff;
}

.header .nav>li>a {
    padding: 30px 35px;
}

.navbar-header .navbar-toggle {
    margin-top: 25px;
    margin-right: 30px;
}

.movie-tile-container{
    float: left;
    width: 100%;
    margin-top: 14px;
    padding: 14px;
    border-radius: 10px;
    border: 2px solid #333;
}

.movies-list{
    padding: 0;
    margin: 0;
}

.movies-list >li{
    float: left;
    width: 94%;
    margin: 2% 3%;
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image-wrapper{
    float: left;
    width: 25%;
    margin-right: 5%;
}

.image-wrapper img{
    float: left;
    width: 100%;
    height: auto;
}

.info-wrapper{
    float: left;
    width: 56%;
    padding: 0 2%;
    margin: 0;
}

.info-wrapper >li{
    padding: 7px 0px;
}
.info-wrapper >li+li{
    border-top: 1px solid #ddd;
}

.info-wrapper h4{
    color: #333;
    margin: 0;
    font-weight: normal;
    font-size: 27px;
    display: inline-block;
    margin-top: 3px;
}

.info-wrapper small{
    font-size: 15px;
    color: #136cb2;
}

.rating{
    padding: 6px 12px;
    background:#efd97a;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

.info-horizontal{
    font-size: 12px;
}
.info-horizontal li{
    float: left;
    margin-right: 5px;
    border-right: 1px solid #ddd;
    padding: 0 10px 0 0;
    margin-top: 5px;
    color: #666;
}

.info-horizontal li:last-child{
    border-right: 0;
    margin-right: 0;
}

.small-txt{
    font-size: 13px;
    color: #666;
    margin:10px 0;
}

.info-vertical{
    font-size: 16px;
    color: #333;
}
.info-vertical li{
    padding: 0 0 5px 0;
}
.info-vertical li span{
    font-size: 14px;
    color: #666;
    max-height: 84px;
}

.drop-done {
    color:blue;
}

.static-page-container {
    margin-top: 150px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 20px;
}

.static-page-header {
    letter-spacing: 2px;
    font-size: 30px;
}

.red-divider {
    margin: 10px 0 50px 0;
    height:3px;
    width: 75%;
    background: linear-gradient(to right, #ff0400 0%, #ffffff 100%);
}

.about-us-content {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-us-form {
    width: 75%;
}

.contact-us-form button {
    background-color: #e1e4db;
    -webkit-transition-property: background-color, color; /* Safari */
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-property: background-color, color;
    transition-duration: 0.3s;
    font-size: 16px;
    letter-spacing: 1px;
}

.contact-us-form button:hover {
    background-color: red;
    color: white;
}

.contact-us-form textarea {
    font-family: sans-serif;
    font-size: 15px;
    height: 250px;
}

.contact-us-form input, .contact-us-form div {
    font-family: sans-serif;
    font-size: 15px;
}

.contact-us-form label {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.contact-us-form .optional-field {
    font-family: sans-serif;
    font-style: italic;
    font-size: 15px;
    color: grey;
    margin-left: 4px;
}

.contact-us-form div {
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 7px;
}

@media screen and (min-width: 768px) {
    .container-fluid>.navbar-header {
        margin-left: 20%;
    }
}

@media screen and (max-width: 768px) {
    .droppable-area {
        margin: 120px 10px 50px 10px;
    }
    .contact-us-form {
        width: 100%;
    }
    .drag-drop-text {
        font-size: 16px;
        letter-spacing: 1px;
    }
}


